<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>






<div class="row" style="padding: 23px 10px 23px 10px; border: 1px solid black; background: lightgrey">
    <input type="hidden" name="id" value="<?=$data['blogs']['id']?>" />


    <article  class="container" style="margin: auto;">
        <div class="row-fluid">

            <div class="span6" style="float: top">

                    <img src="<?=$data['blogs']['photo']?>"
                         style="height: 500px; width: 750px; margin: -1px;  margin-top: 0;"
                         alt="The future of books">


            </div>
























        </div>
    </article>



</div>







</body>
</html>