<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/webroot/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webroot/bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/webroot/blog/blog.css">
    <script src="/webroot/bootstrap/js/jquery.min.js"></script>
    <script src="/webroot/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>




<div class="col-sm-8 blog-main" >

    <div class="row rowmain" >

        <?php $i = 1; foreach($data['search'] as $blog_data) { if($i=$i%2){ ?>

        <div class="row featurette">
            <div class="col-md-6 col-md-push-6">
                <h2 class="featurette-heading">
                    <a href="/blogs/blog_view/<?=$blog_data['id']?>" title="<?=$blog_data['title']?>"><b><?=$blog_data['title']?></b></a>
                </h2>
                <span class="text-muted">
                    <span class="glyphicon glyphicon-time"></span> <?=$blog_data['date']?>
                    <br>
                    <span class="glyphicon glyphicon-user"></span> posted by
                        <a href="/user/profiles/user/<?=Forum::getUser($blog_data['user_id'])[0]['id']?>" style="color: #AA0000;" data-original-title="">
                            <?=Forum::getUser($blog_data['user_id'])[0]['nickname']?>
                        </a>
                    <br>
                    <span class="glyphicon glyphicon-pencil"></span> <?=count(Blog::getCommentCount($blog_data['id']))?> Comments
                </span>
                <hr>

            </div>
            <div class="col-md-6 col-md-pull-6" >
                <a href="/blogs/blog_view/<?=$blog_data['id']?>">
                    <img class="featurette-image img-responsive center-block img-thumbnail" href="/admin/blogs/blog_view/<?=$blog_data['id']?>" src="<?=$blog_data['photo']?>" data-holder-rendered="true">
                </a>
            </div>
        </div>
        <hr class="featurette-divider">

        <?php } else { ?>

        <div class="row featurette">
            <div class="col-md-6">
                <h2 class="featurette-heading">
                    <a href="/blogs/blog_view/<?=$blog_data['id']?>" title="<?=$blog_data['title']?>"><b><?=$blog_data['title']?></b></a>
                </h2>
                <span class="text-muted">
                    <span class="glyphicon glyphicon-time"></span> <?=$blog_data['date']?>
                    <br>
                    <span class="glyphicon glyphicon-user"></span> posted by
                        <a href="/user/profiles/user/<?=Forum::getUser($blog_data['user_id'])[0]['id']?>" style="color: #AA0000;" data-original-title="">
                            <?=Forum::getUser($blog_data['user_id'])[0]['nickname']?>
                        </a>
                    <br>
                    <span class="glyphicon glyphicon-pencil"></span> <?=count(Blog::getCommentCount($blog_data['id']))?> Comments
                </span>
                <hr>

            </div>
            <div class="col-md-6">
                <a href="/blogs/blog_view/<?=$blog_data['id']?>">
                    <img class="featurette-image img-responsive center-block img-thumbnail" data-src="holder.js/500x500/auto" alt="400x400" href="/admin/blogs/blog_view/<?=$blog_data['id']?>" src="<?=$blog_data['photo']?>" data-holder-rendered="true">
                </a>
            </div>
        </div>
        <hr class="featurette-divider">

        <?php } $i++; ?>
        <?php } ?>

    </div>

</div>

<div class="col-sm-3 col-sm-offset-1 blog-sidebar" >
    <div class="row rowmain" >
        <div class="post-atribut">
            <h3><span class="colored-title" style="color: #98ab41;"><b>Blog</b></span><b> Counters</b></h3>
            <div class="row text-center">
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <span class="badge badge-inverse"><i class="fa fa-heart"></i><b> <?=User::getCountUsers()[0]["COUNT(id)"]?></b></span>
                    <br><span class="fans muted-small"> Users</span>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <span class="badge badge-inverse"><i class="fa fa-comments"></i><b> <?=Blog::getCountBlogs()[0]["COUNT(id)"]?></b></span>
                    <br><span class="fans muted-small">Posts</span>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4">
                    <span class="badge badge-inverse"><i class="fa fa-eye"></i><b> <?=Blog::getCountBlogsComments()[0]["COUNT(id)"]?></b></span>
                    <br><span class="fans muted-small">Comments</span>
                </div>
            </div>
        </div>
        <hr>
        <hr>
        <div class="post-atribut">
            <h3><span class="colored-title" style="color: #98ab41;"><b>Search</b></span></h3>
            <form method="post" action="/blogs/search" class="form-search">
                <div class="input-append">
                    <input type="text" name="search" class="span2 search-query">
                    <button type="submit" class="btn">Search</button>
                </div>
            </form>
        </div>
        <hr>
        <hr>
        <div class="post-atribut">
            <h3><span class="colored-title" style="color: #98ab41;"><b>Top </b></span><b> Categories</b></h3>
            <ul class="list-group list-group-bordered list-group-noicon uppercase">
                <li class="list-group-item"><a href="/blogs/category/<?=Blog::getTopCategoriesName()[0]['id']?>"><span class="size-11 text-muted pull-right badge">(<?=Blog::getTopCategoriesCount()[0]["count(blogs.tags_id)"]?>)</span>
                    <?=Blog::getTopCategoriesName()[0]['name']?></a></li>
                <li class="list-group-item"><a href="/blogs/category/<?=Blog::getTopCategoriesName()[1]['id']?>"><span class="size-11 text-muted pull-right badge">(<?=Blog::getTopCategoriesCount()[1]["count(blogs.tags_id)"]?>)</span>
                    <?=Blog::getTopCategoriesName()[1]['name']?></a></li>
                <li class="list-group-item"><a href="/blogs/category/<?=Blog::getTopCategoriesName()[2]['id']?>"><span class="size-11 text-muted pull-right badge">(<?=Blog::getTopCategoriesCount()[2]["count(blogs.tags_id)"]?>)</span>
                    <?=Blog::getTopCategoriesName()[2]['name']?></a></li>
                <li class="list-group-item"><a href="/blogs/category/<?=Blog::getTopCategoriesName()[3]['id']?>"><span class="size-11 text-muted pull-right badge">(<?=Blog::getTopCategoriesCount()[3]["count(blogs.tags_id)"]?>)</span>
                    <?=Blog::getTopCategoriesName()[3]['name']?></a></li>
                <li class="list-group-item"><a href="/blogs/category/<?=Blog::getTopCategoriesName()[4]['id']?>"><span class="size-11 text-muted pull-right badge">(<?=Blog::getTopCategoriesCount()[4]["count(blogs.tags_id)"]?>)</span>
                    <?=Blog::getTopCategoriesName()[4]['name']?></a></li>
                <li class="list-group-item"><a href="/blogs/category/<?=Blog::getTopCategoriesName()[5]['id']?>"><span class="size-11 text-muted pull-right badge">(<?=Blog::getTopCategoriesCount()[5]["count(blogs.tags_id)"]?>)</span>
                    <?=Blog::getTopCategoriesName()[5]['name']?></a></li>
            </ul>
        </div>
        <hr>
        <hr>
        <div class="post-atribut">
            <h3><span class="colored-title" style="color: #98ab41;"><b>Top </b></span><b> Users</b></h3>
            <?php foreach(Blog::getTopUsers() as $user_data) {?>
            <div class="list-group">
                <a href="/user/profiles/user/<?=$user_data['id']?>" class="list-group-item">
                <span class=""><?php if($user_data['avatar'] != null) { ?>
                    <img src="<?=$user_data['avatar']?>" class="img-circle" height="40" width="40" alt="Avatar">
                    <?php } else { ?>
                    <img src="/webroot/img/200x200.png" class="img-circle" height="40" width="40" alt="Avatar">
                    <?php } ?>
                </span> &nbsp;&nbsp;&nbsp; <?=$user_data['nickname']?>
                </a>
            </div>
            <?php } ?>
        </div>
        <hr>
        <hr>
        <div class="post-atribut">
            <h3><span class="colored-title" style="color: #98ab41;"><b>Last</b></span><b> Comments</b></h3>
            <?php foreach(Blog::getLastBlogsComments() as $page_data) {?>
            <?php foreach(Forum::getUser($page_data['user_id']) as $user_data) {?>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <?=$user_data['nickname']?>
                <a href="/user/profiles/user/<?=$user_data['id']?>" class="post-thumb pull-left img-responsive">
                    <?php if($user_data['avatar'] != null) { ?>
                    <img src="<?=$user_data['avatar']?>" class="img-circle" height="40" width="40" alt="Avatar">
                    <?php } else { ?>
                    <img src="/webroot/img/200x200.png" class="img-circle" height="40" width="40" alt="Avatar">
                    <?php } ?>
                </a>
                <div class="item-right">
                    <h6 class="post-title"><a
                            href="/blogs/blog_view/<?=$page_data['blogs_id']?>"><?=htmlspecialchars_decode($page_data['content'])?></a>
                        <span class="kopa-date"> <?=$page_data['date']?></span>
                    </h6>
                </div>
            </div>
            <?php } ?>
            <?php } ?>
        </div>
        <hr>
        <hr>
    </div>
</div>


</body>
</html>