<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/webroot/css/blogs/user_blog.css">
    <script>
        $(function() {
            $(window).scroll(function() {
                if($(this).scrollTop() != 0) {
                    $('#toTop').fadeIn();
                } else {
                    $('#toTop').fadeOut();
                }
            });
            $('#toTop').click(function() {
                $('body,html').animate({scrollTop:0},1000);
            });
        });
    </script>
</head>

<body>

<div class="jumbotron" >
    <div class="container">
        <img class="hight" src="/webroot/img/blog/pagetitle1.jpg" >
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="container">

<div class="row-fluid wrap">

    <div class="row rowtop">
        <div class="col-lg-4 text-center" style="position: relative;">
            <a href="/user/blogs/blog_view/<?=Blog::getTopCommentedBlogs()[0]['id']?>">
                <img class="img-rounded person" href="/admin/blogs/blog_view/<?=Blog::getTopCommentedBlogs()[0]['id']?>" src="<?=Blog::getTopCommentedBlogs()[0]['photo']?>" width="340" height="210">
            </a>
            <a style="position: absolute; top: 40%; left: 0; width: 100%; color: lightsalmon" href="/user/blogs/blog_view/<?=Blog::getTopCommentedBlogs()[0]['id']?>" title="<?=Blog::getTopCommentedBlogs()[0]['title']?>">
                <h2><b><?=Blog::getTopCommentedBlogs()[0]['title']?></b></h2>
            </a>
        </div>
        <div class="col-lg-4 text-center" style="position: relative;">
            <a href="/user/blogs/blog_view/<?=Blog::getTopCommentedBlogs()[1]['id']?>">
                <img class="img-rounded person" href="/admin/blogs/blog_view/<?=Blog::getTopCommentedBlogs()[1]['id']?>" src="<?=Blog::getTopCommentedBlogs()[1]['photo']?>" width="340" height="210">
            </a>
            <a style="position: absolute; top: 40%; left: 0; width: 100%; color: lightsalmon" href="/user/blogs/blog_view/<?=Blog::getTopCommentedBlogs()[1]['id']?>" title="<?=Blog::getTopCommentedBlogs()[1]['title']?>">
                <h2><b><?=Blog::getTopCommentedBlogs()[1]['title']?></b></h2>
            </a>
        </div>
        <div class="col-lg-4 text-center" style="position: relative;">
            <a href="/user/blogs/blog_view/<?=Blog::getTopCommentedBlogs()[2]['id']?>">
                <img class="img-rounded person" href="/admin/blogs/blog_view/<?=Blog::getTopCommentedBlogs()[2]['id']?>" src="<?=Blog::getTopCommentedBlogs()[2]['photo']?>" width="340" height="210">
            </a>
            <a style="position: absolute; top: 40%; left: 0; width: 100%; color: lightsalmon" href="/user/blogs/blog_view/<?=Blog::getTopCommentedBlogs()[2]['id']?>" title="<?=Blog::getTopCommentedBlogs()[2]['title']?>">
                <h2><b><?=Blog::getTopCommentedBlogs()[2]['title']?></b></h2>
            </a>
        </div>
    </div>

    <br>

    <div class="row " style="background: white">
        <div class="col-lg-12 text-center">
            <h3><span class="colored-title" style="color: lightsalmon;"><b>All </b></span><b> Categories</b></h3>
            <hr style="">
            <?php foreach(Blog::getAllCategories() as $catdata) {?>
            <a href="/user/blogs/category/<?=$catdata['id']?>">
                <span class="label label-default"><?=$catdata['name']?></span>
                <span class="label label-success"><?=$catdata["count(blogs.tags_id)"]?></span>
            </a>
            <?php } ?>
            <br>
            <br>
        </div>
    </div>

    <br>

    <div class="add_comment" style="text-align:center;">
        <a href="/user/blogs/add"><button  class="btn btn-sm btn-warning icon-white icon-hand-right"><span class="glyphicon glyphicon-hand-right"></span>&nbsp; Add New Blog-Vlog</button></a>
    </div>

    <div class="row rowmain" style="">

        <?php $i = 1; foreach($data['blogs'] as $blog_data) { if($i=$i%2){ ?>

        <div class="row featurette">
            <div class="col-md-6 col-md-push-6">
                <h2 class="featurette-heading">
                    <a href="/user/blogs/blog_view/<?=$blog_data['id']?>" title="<?=$blog_data['title']?>"><b><?=$blog_data['title']?></b></a>
                </h2>
                <span class="text-muted">
                    <span class="glyphicon glyphicon-time"></span> <?=$blog_data['date']?>
                    &nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-user"></span> posted by
                        <a href="/user/profiles/user/<?=Forum::getUser($blog_data['user_id'])[0]['id']?>" style="color: #AA0000;" data-original-title="">
                            <?=Forum::getUser($blog_data['user_id'])[0]['nickname']?>
                        </a>
                    &nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-pencil"></span> <?=count(Blog::getCommentCount($blog_data['id']))?> Comments
                    <?php if(Session::get('id') == $blog_data['user_id']) { ?>
                        <a href="/user/blogs/edit/<?=$blog_data['id']?>"><button class="btn btn-sm btn-default btn-xs" >&#9998;</button>
                        </a>
                        <a href="/user/blogs/delete/<?=$blog_data['id']?>" onclick="return confirmDelete();"><button class="btn btn-sm btn-default btn-xs">&#10008;</button>
                        </a>
                    <?php } ?>
                </span>
                <hr>
                <p class="lead"><?=htmlspecialchars_decode(Blog::getAliasBlog($blog_data['id'])[0]["SUBSTR(`content`, 1, 500)"])?>...</p>
            </div>
            <div class="col-md-6 col-md-pull-6" >
                <a href="/user/blogs/blog_view/<?=$blog_data['id']?>">
                    <img class="featurette-image img-responsive center-block img-thumbnail" href="/admin/blogs/blog_view/<?=$blog_data['id']?>" src="<?=$blog_data['photo']?>" data-holder-rendered="true">
                </a>
            </div>
        </div>
        <hr class="featurette-divider">

        <?php } else { ?>

        <div class="row featurette">
            <div class="col-md-6">
                <h2 class="featurette-heading">
                    <a href="/user/blogs/blog_view/<?=$blog_data['id']?>" title="<?=$blog_data['title']?>"><b><?=$blog_data['title']?></b></a>
                </h2>
                <span class="text-muted">
                    <span class="glyphicon glyphicon-time"></span> <?=$blog_data['date']?>
                    &nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-user"></span> posted by
                        <a href="/user/profiles/user/<?=Forum::getUser($blog_data['user_id'])[0]['id']?>" style="color: #AA0000;" data-original-title="">
                            <?=Forum::getUser($blog_data['user_id'])[0]['nickname']?>
                        </a>
                    &nbsp;&nbsp;&nbsp;
                    <span class="glyphicon glyphicon-pencil"></span> <?=count(Blog::getCommentCount($blog_data['id']))?> Comments
                    <?php if(Session::get('id') == $blog_data['user_id']) { ?>
                    <a href="/user/blogs/edit/<?=$blog_data['id']?>"><button class="btn btn-sm btn-default btn-xs" >&#9998;</button>
                    </a>
                        <a href="/user/blogs/delete/<?=$blog_data['id']?>" onclick="return confirmDelete();"><button class="btn btn-sm btn-default btn-xs">&#10008;</button>
                        </a>
                    <?php } ?>
                </span>
                <hr>
                <p class="lead"><?=htmlspecialchars_decode(Blog::getAliasBlog($blog_data['id'])[0]["SUBSTR(`content`, 1, 500)"])?>...</p>
            </div>
            <div class="col-md-6">
                <a href="/user/blogs/blog_view/<?=$blog_data['id']?>">
                    <img class="featurette-image img-responsive center-block img-thumbnail" data-src="holder.js/500x500/auto" alt="400x400" href="/admin/blogs/blog_view/<?=$blog_data['id']?>" src="<?=$blog_data['photo']?>" data-holder-rendered="true">
                </a>
            </div>
        </div>
        <hr class="featurette-divider">

        <?php } $i++; ?>
        <?php } ?>
    </div>

    <div class="text-center">
        <ul class="pagination ">
            <li class="active"><a href="/user/blogs">1</a></li>
            <?php foreach(Blog::getPages() as $pages) { ?>
            <li><a href="/user/blogs/pages/<?=$pages?>"><?=$pages?></a></li>
            <?php } ?>
            <li><a href="/user/blogs/pages/<?=Blog::getLastPages()?>">&raquo;</a></li>
        </ul>
    </div>

</div>

    <br>
    <br>
    <br>

<ul class="nav pull-right scroll-top" id="toTop" style="">
    <li><a href="#" title="Scroll to top" class=""><i class="glyphicon glyphicon-chevron-up"></i></a>
    </li>
</ul>

</div>

<div id="footer" class="footer">
    <div class="container text-center">
        <ul class="list-inline center-block">
            <li><a href="https://ua.linkedin.com/in/kirill-kovalenko-398259ab" class=""><img src="/webroot/img/social/in.jpg" class=""></a></li>
            <li><a href="https://github.com/gudvon/MyMVC" class=""><img src="/webroot/img/social/g.jpg" class=""></a></li>
            <li><a href="https://www.facebook.com/id15275601" class=""><img src="/webroot/img/social/f.jpg" class=""></a></li>
            <li><a href="https://vk.com/is4ibertay" class=""><img src="/webroot/img/social/b.jpg" class=""></a></li>
        </ul>
    </div>
</div>

</body>

</html>