<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<form class="form-horizontal" role="form" action="" method="post">
    <div class="container">
        <h1><b>Add new Gallery Topic</b></h1>
        <hr>
        <div class="row">
            <div class="col-md-9 personal-info">
                <br/>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Topic name:</label>
                    <div class="col-lg-6">
                        <input type="text" id="title" name="title" class="form-control" placeholder="Name" required autofocus/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-6">
                        <br/>
                        <input type="submit" class="btn btn-success" value="Add Topic"/>
                        <input class="btn btn-default" type="reset" onclick="history.back()" value="Back">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

</body>

</html>