<!DOCTYPE html>

<html lang="en">



<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/webroot/bootstrap/js/jquery.min.js"></script>

    <script src="/webroot/js/jquery-gp-gallery.js"></script>

    <style>

        .gp-gallery-picture-zoom {
            border: 1px solid #bbb;
            margin: -6px 0 0 -6px;
            position: absolute;
            z-index: 100;
            padding: 5px;
            background: white;
            box-shadow: 0 0 10px #999;
        }
        .gp-gallery-picture-hover {
            box-shadow: 1px 1px 5px #333;
        }

    </style>

    <script>
        $(function() {
            $('.pictures').gpGallery('img');
        })
    </script>



</head>

<body>



<div class="container-fluid">
    <div class="row content">
        <div class="col-sm-3 sidenav">
            <h4>Gallery Topics</h4>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="/admin/gallery">General</a></li>
                <li><a href="/admin/gallery">Life</a></li>
                <li><a href="/admin/gallery">News</a></li>
                <li><a href="/admin/gallery">Music</a></li>
                <li><a href="/admin/gallery">Movie</a></li>
                <li><a href="/admin/gallery">Photos</a></li>
                <li><a href="/admin/gallery">Games</a></li>
            </ul><br>
            <div>
                <a href="/admin/gallery/add_topic/"><button class="btn btn-sm btn-success">Add Topic</button></a>
            </div>
            <br><br>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search in Gallery...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
              <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
            </div>
        </div>

        <div class="col-sm-9">


            <div class="pictures">
                <img src="/webroot/img/gallery/untitled-3-2.jpg" width="267" height="400"/>
                <img src="/webroot/img/gallery/untitled-3-16.jpg" width="400" height="267"/>
                <img src="/webroot/img/gallery/untitled-3-5.jpg" width="400" height="267"/>
                <img src="/webroot/img/gallery/untitled-3-0.jpg" width="400" height="267"/>
                <img src="/webroot/img/gallery/untitled-3-14.jpg" width="400" height="267"/>
                <img src="/webroot/img/gallery/untitled-3-9.jpg" width="400" height="267"/>
                <img src="/webroot/img/gallery/untitled-3-4.jpg" width="400" height="267"/>
                <img src="/webroot/img/gallery/untitled-3-10.jpg" width="267" height="400"/>
                <img src="/webroot/img/gallery/untitled-3-8.jpg" width="267" height="400"/>
                <img src="/webroot/img/gallery/untitled-3-3.jpg" width="400" height="267"/>
                <img src="/webroot/img/gallery/untitled-3-1.jpg" width="400" height="267"/>
                <img src="/webroot/img/gallery/untitled-3-13.jpg" width="400" height="267"/>
                <img src="/webroot/img/gallery/untitled-3-19.jpg" width="400" height="267"/>
                <img src="/webroot/img/gallery/untitled-3-7.jpg" width="400" height="267"/>
                <img src="/webroot/img/gallery/untitled-3-12.jpg" width="267" height="400"/>
                <img src="/webroot/img/gallery/untitled-3-15.jpg" width="400" height="267"/>
                <img src="/webroot/img/gallery/untitled-3-18.jpg" width="400" height="267"/>
                <img src="/webroot/img/gallery/untitled-3-6.jpg" width="400" height="267"/>
                <img src="/webroot/img/gallery/untitled-3-11.jpg" width="267" height="400"/>
                <img src="/webroot/img/gallery/untitled-3-17.jpg" width="267" height="400"/>
                <div class="clear"></div>
            </div>


        </div>
    </div>
</div>






</body>

</html>