<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>
<style>
    table tr:nth-child(even) {
        background-color: #eee;
    }
    table tr:nth-child(odd) {
        background-color:#fff;
    }
    table th	{
        background-color: black;
        color: white;
    }
</style>
<body>
<?php if( Session::hasFlash() ){ ?>
<div class="alert alert-danger text-center" role="alert">
    <strong><?php Session::flash(); ?>!</strong>
</div>
<?php } ?>
<table class="table table-striped" style="width: 600px;">
    <tr>
        <th colspan="2" class="text-center" style="font-size:20px">Discussions</th>
    </tr>
    <?php foreach($data['discussions'] as $page_data) { ?>
    <tr>
        <td ><b><a href="/admin/forums/discussions/<?=$page_data['id']?>" style="font-family: Arial; font-size:20px"><?=$page_data['title']?></a>
            <br>
            <?=$page_data['content']?>
        </b>
        </td>
        <td align="right">
            <a href="/admin/forums/delete_discussions/<?=$page_data['id']?>" onclick="return confirmDelete();"><button class="btn btn-sm btn-warning">delete</button></a>
        </td>
    </tr>
    <?php } ?>
</table>

<div>
    <a href="/admin/forums/add_discussions/<?=$data['forums']['id']?>"><button class="btn btn-sm btn-success">Add discussion</button></a>
</div>


</body>
</html>