<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<form method="post" action="">
    <select name="issuetype" id="issuetype">
        <option value="1" class="imagebacked" style="background-image: url(/webroot/img/forum_avatars/bill.png);" selected>  </option>
        <option value="2" class="imagebacked" style="background-image: url(/webroot/img/forum_avatars/cart.png);">    </option>
        <option value="3" class="imagebacked" style="background-image: url(/webroot/img/forum_avatars/colorwheel.png);">    </option>
        <option value="4" class="imagebacked" style="background-image: url(/webroot/img/forum_avatars/folder.png);">   </option>
    </select>
    <br>
    <br>
    <br>
    <br>
    Category name:
    <div class="from-group">
        <label  class="sr-only">Name</label>
        <input type="text"  name="title" class="form-control" placeholder="Name" />
    </div>
    <br>
    Category description:
    <div class="from-group">
        <label class="sr-only">Description</label>
        <textarea type="text"  name="content" class="form-control" placeholder="Description" rows="6"></textarea>
    </div>
    <br>
    <input type="submit" class="btn btn-success" value="Add category"/>
</form>

</body>

</html>