<!DOCTYPE html>
<html lang="en">
<style>
    table tr:nth-child(even) {
        background-color: #eee;
    }
    table tr:nth-child(odd) {
        background-color:#fff;
    }
    table th	{
        background-color: black;
        color: white;
    }
</style>

<head>

</head>

<body>
<table class="table table-striped" style="width: 600px;">
    <tr>
    <th colspan="2" class="text-center" style="font-size:20px">Category</th>
    <th class="text-center" style="font-size:20px">kaka</th>

    </tr>
    <?php foreach($data['forums'] as $page_data) { ?>
    <tr>
        <td class="leftpart"><b><a href="/admin/forums/discussions?id=<?=$page_data['id']?>" style="font-family: Arial; font-size:30px"><?=$page_data['title']?></a>
            <br>
            <?=$page_data['content']?>
        </b></td>
        <td align="right">
            <a href="/admin/forums/edit/<?=$page_data['id']?>"><button class="btn btn-sm btn-primary">edit</button></a>
            <a href="/admin/forums/delete/<?=$page_data['id']?>" onclick="return confirmDelete();"><button class="btn btn-sm btn-warning">delete</button></a>
        </td>
        <td class="rightpart">



        </td>
    </tr>
    <?php } ?>
</table>

<div>
    <a href="/admin/forums/add/"><button class="btn btn-sm btn-success">Add category</button></a>
</div>

</body>

</html>