<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
<form method="post" action="">
    Discussion name:
    <div class="from-group">
        <input type="text"  id="alias" name="alias" class="form-control" placeholder="Name" />
    </div>
    <br>
    Discussion title:
    <div class="from-group">
        <input type="text"  id="title" name="title" class="form-control" placeholder="Title" />
    </div>
    <br>
    Discussion description:
    <div class="from-group">
        <textarea type="text"  id="content" name="content" class="form-control" placeholder="Description"></textarea>
    </div>
    <br>
    <input type="submit" class="btn btn-success" value="Add Discussion"/>
</form>

</body>
</html>