<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<style>
    table tr:nth-child(even) {
        background-color: whitesmoke;
    }
    table tr:nth-child(odd) {
        background-color:ghostwhite;
    }
    table th	{
        background-color: green;
        color: white;
    }
</style>

<table class="table table-striped" style="width: 1000px;">
    <tr>
        <th colspan="2" class="text-center" style="font-size:20px">Discussions</th>
    </tr>
    <?php foreach($data['discussions'] as $page_data) { ?>
    <tr>
        <td ><b><a href="/forums/discussions/<?=$page_data['id']?>" style="font-family: Arial; font-size:20px"><?=$page_data['title']?></a>
            <br>
            <?=$page_data['content']?>
        </b>
        </td>

    </tr>
    <?php } ?>
</table>



<body>


</body>
</html>