<!DOCTYPE html>
<html lang="en">

<style>
    table tr:nth-child(even) {
        background-color: whitesmoke;
    }
    table tr:nth-child(odd) {
        background-color:ghostwhite;
    }
    table th	{
        background-color: green;
        color: white;
    }
</style>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<table class="table table-striped" style="width: 1000px;">
    <tr>
        <th colspan="2" class="text-center" style="font-size:20px">Category</th>


    </tr>
    <?php foreach($data['forums'] as $page_data) { ?>
    <tr>
        <td class="leftpart"><b><a href="/forums/discussions/<?=$page_data['id']?>" style="font-family: Arial; font-size:30px"><?=$page_data['title']?></a>
            <br>
            <?=$page_data['content']?>
        </b></td>
        <?php } ?>




        </td>
    </tr>

</table>

<div>

</div>

</body>

</html>