<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/webroot/js/tinymce/tinymce.min.js"></script>
    <link rel="stylesheet" href="/webroot/css/user_comments.css">

    <script>
        tinymce.init({ selector:'textarea',
        height : 200,
        width: 800,
            plugins : 'advlist autolink link code 	media	pagebreak, style, layer, table, save, advhr, advimage, advlink, emotions, iespell, inlinepopups, insertdatetime, preview, media, searchreplace, print, contextmenu, paste, directionality, fullscreen, noneditable, visualchars, nonbreaking, xhtmlxtras, template, wordcount, advlist, autosave	table	paste	colorpicker imagetools image lists charmap print preview 	textcolor codesample',

        });
        $(document).ready(function() {
            $('a[href^="#"]').click(function(){
                var el = $(this).attr('href');
                $('body').animate({
                    scrollTop: $(el).offset().top}, 2000);
                return false;
            });
        });
    </script>

</head>

<body>

<div class="col-sm-9">
    <?php foreach($data['discussions'] as $page_data) { ?>
    <h2><b><?=$page_data['title']?></b>></h2>
    <?php foreach(Forum::getUser($page_data['user_id']) as $user_data) {?>
    <h5><span class="glyphicon glyphicon-time"></span>
        Post by <a href="/user/profiles/user/<?=$user_data['id']?>" style="color: #AA0000;" class="username-coloured" data-original-title="" title="">
            <?=$user_data['nickname']?>
        </a>,
        <?=$page_data['date']?>.
    </h5>
    <?php } ?>
    <h5><span class="label label-success">Lorem</span></h5><br>
    <p><?=$page_data['content']?></p>
    <hr>
    <?php } ?>
    <h4><small>RECENT COMMENTS</small></h4>
    <br>
    <p><span class="badge"><?=count(Forum::getCommentsCount($page_data['id']))?></span> Comments</p><br>
    <a href="#go1" class="b" >Add Comment</a>

    <?php foreach($data['comments'] as $page_data) { ?>
    <hr>
    <div class="row">
        <?php foreach(Forum::getUser($page_data['user_id']) as $user_data) {?>
        <div class="col-sm-2 text-center">
            <?php if($user_data['avatar'] != null) { ?>
            <img src="<?=$user_data['avatar']?>" class="img-circle" height="65" width="65" alt="Avatar">
            <?php } else { ?>
            <img src="/webroot/img/200x200.png" class="img-circle" height="65" width="65" alt="Avatar">
            <?php } ?>
        </div>
        <div class="col-sm-10">
            <h4><a href="/user/profiles/user/<?=$user_data['id']?>"><?=$user_data['nickname']?></a> <small><?=$page_data['date']?></small></h4>
            <p><?=$page_data['content']?></p>

        </div>
        <?php foreach(Forum::getUser($page_data['user_id']) as $user_data) {?>
        <?php if($user_data['id'] == Session::get('id')) { ?>
        <div class="col-sm-12 text-right">
            <a href="/user/forums/edit_comments/<?=$page_data['id']?>"><button class="btn btn-sm btn-warning btn-xs">e</button></a>
            <a href="/user/forums/delete_comments/<?=$page_data['id']?>" onclick="return confirmDelete();"><button class="btn btn-xs btn-default btn-right icon-remove">&#10008;</button></a>
        </div>
        <?php } ?>
        <?php } ?>
        <?php } ?>
    </div>
    <?php } ?>
    <br><br>
    <section id="go1" >
    <h4><b>Leave a Comment:</b></h4>
    <form method="post" action="">
        <div  class="form-group" >
            <textarea id="content" name="content" class="form-control" ></textarea>
        </div>
        <input type="submit" class="btn btn-default icon-white" value="Add Comment"/>
        <input class="btn btn-default" type="reset" onclick="history.back()" value="Back">
    </form>
    </section>
    <br><br>
    <br><br>
</div>

</body>

</html>