<!DOCTYPE html>
<html lang="en">

<style>

</style>

<head>
    <meta charset="utf-8">
</head>

<link rel="stylesheet" href="/webroot/css/forums/user_forum.css">

<body>

<br>
<br>
<br>
<br>
<br>

<div class="container">

<?php foreach($data['topics'] as $topics_data) { ?>

<div class="panel panel-forum">

    <div class="panel-heading">
        <th data-original-title="" style="color: white" ><b><?=$topics_data['name']?></b></th>
    </div>

    <div class="panel-inner">
        <table class="footable table table-striped table-primary table-hover footable-loaded tablet">

            <thead>
            <tr>
                <th data-class="expand" class="footable-visible footable-first-column">Title</th>
                <th class="large110 footable-visible" data-hide="phone">Statistics</th>
                <th class="large21 footable-visible footable-last-column" data-hide="phone">Last post</th>
            </tr>
            </thead>

            <tbody>
            <?php foreach($data['forums'] as $page_data) { ?>
            <?php if($topics_data['id'] == $page_data['topics_id']) { ?>
            <tr>
                <td title="No unread posts" class="expand footable-visible footable-first-column" style="width: 60%;"><span class="footable-toggle"></span>
                    <?php if($page_data['avatar'] != null) { ?>
                    <span class="forum-image"><img src="<?=$page_data['avatar']?>" width="45" height="45" alt="No unread posts"></span>
                    <?php } else { ?>
                    <span class="forum-image"><img src="/webroot/img/forum_avatars/folder.png" width="45" height="45" alt="No unread posts"></span>
                    <?php } ?>
				<a href="/user/forums/discussions/<?=$page_data['id']?>" class="forumtitle" data-original-title="" title="" style="font-family: 'Source Sans Pro','Arial','Helvetica',sans-serif; color: darkred; font-size: 20px;"><?=$page_data['title']?></a>
                    <br>
				<span class="description" style="font-family: 'Source Sans Pro','Arial','Helvetica',sans-serif; color: black;"><?=$page_data['content']?></span>
                    <br>
                </td>
                <td class="stats-col footable-visible active" style="width: 15%;>
			 <span class="stats-wrapper">
			 <?=count(Forum::getAllDiscussionById($page_data['id']))?>&nbsp;Topics&nbsp;<br><?=count(Forum::getAllCommentsById($page_data['id']))?>&nbsp;Posts
             </span>
                </td>
                <?php foreach(Forum::getLastUserCommentById($page_data['id']) as $comment_data) {?>
                <?php foreach(Forum::getUser($comment_data['user_id']) as $user_data) {?>
                <?php foreach(Forum::getLastUserDiscussionById($page_data['id']) as $discus_data) {?>
                <td class="footable-visible footable-last-column">
			  <span class="last-wrapper text-overflow"><a href="/user/forums/comments/<?=$discus_data['id']?>" title="" class="lastsubject" data-original-title="">Re: <?=$discus_data['title']?></a><br>
                  by&nbsp;<a href="/user/profiles/user/<?=$user_data['id']?>" style="color: #AA0000;" class="username-coloured" data-original-title="" title=""><?=$user_data['nickname']?></a>
                  <br>

                  <span class="forum-time"><?=$comment_data['date']?></span>

              </span>
                </td>
                <?php } ?>
                <?php } ?>
                <?php } ?>
            </tr>
            <?php } ?>
            <?php } ?>
            </tbody>

        </table>
    </div>

</div>

<?php } ?>

</div>


</body>

</html>