<style>

    body:before{
        content: '';
        position: absolute; top: 0; left: 0;
        width: 100%;
        height: 100%;
        background: #ccc url('/webroot/img/03.jpg') no-repeat;
        background-size: cover;
        -webkit-filter: blur(7px);
        filter: blur(7px);
    }
    form{
        -webkit-filter: blur(0px) !important;
        filter: blur(0px) !important;
    }
    .alert {
        position: absolute;
        left: 35%;
        top: 10%;
    }

</style>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<form action="" method="post" enctype="multipart/form-data" class="form-horizontal" >
    <?php if( Session::hasFlash() ){ ?>
    <div class="alert alert-danger fade in text-center" role="alert">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <?php Session::flash(); ?>
    </div>
    <?php } ?>
    <div class="container">
        <h1><b>Edit Profile</b></h1>
        <hr>
        <br/>
        <div class="row">
            <!-- left column -->
            <div class="col-md-3">
                <div class="text-center">
                    <?php foreach($data as $item) { ?>
                    <?php if($item['avatar'] != null) { ?>
                    <img class="avatar img-circle" alt="avatar" src="<?=$item['avatar']?>" width="200" height="200">
                    <?php } else { ?>
                    <img class="avatar img-circle" alt="avatar" src="/webroot/img/200x200.png" width="200" height="200">
                    <?php } ?>
                    <br/>
                    <br/>
                    <br/>
                    <h6>Upload a different photo...</h6>
                    <input class="form-control" name="avatar" id="avatar" type="file" accept="image/*">
                </div>
            </div>
            <!-- edit form column -->
            <div class="col-md-9 personal-info">
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Your Nickname:</label>
                        <div class="col-lg-7">
                            <input type="text" class="form-control" name="nickname" id="nickname" placeholder="Nickname" value="<?=$item['nickname']?>" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Your Name:</label>
                        <div class="col-lg-7">
                            <input class="form-control" name="name" type="text" id="name" placeholder="Name" value="<?=$item['name']?>" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Your Phone:</label>
                        <div class="col-lg-7">
                            <input class="form-control" name="phone" type="text" id="phone" placeholder="Phone" value="<?=$item['phone']?>" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Vkontakte:</label>
                        <div class="col-lg-7">
                            <input class="form-control" name="vk" type="text" id="vk" placeholder="Vkontakte ID" value="<?=$item['vk']?>" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-3 control-label">Facebook:</label>
                        <div class="col-md-7">
                            <input class="form-control" name="facebook" type="text" id="facebook" placeholder="Facebook ID" value="<?=$item['facebook']?>" />
                        </div>
                    </div>
                    <?php } ?>
                    <div class="form-group">
                        <label class="col-md-3 control-label"></label>
                        <div class="col-md-8">
                            <br/>
                            <input class="btn btn-primary" type="submit" value="Save Changes">
                            <input class="btn btn-default" type="button" onClick='location.href="/user/profiles/edit"' value="Edit Password">
                            <input class="btn btn-default" type="reset" onClick='location.href="/user/"' value="Cancel">
                            <input class="btn btn-danger btn-xs btn-right" style="margin: -25px 0 10px 425px; display:block;" type="button" onClick='location.href="/user/"' value="Delete">
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <hr>
</form>

</body>