<h3>Your Profile</h3><br/>
<form action="" method="post">
    <label>Your Nickname</label>
    <input type="text" class="form-control" name="nickname" placeholder="Nickname*" value="$baza[0]" required/>
    <label>Your Name</label>
    <input type="text" class="form-control" name="name" placeholder="Name"/>
    <label>Your Phone</label>
    <input type="text" class="form-control" name="phone" placeholder="Phone"/>
    <label>Vkontakte</label>
    <input type="text" class="form-control" name="vk" placeholder="Your profile vkontakte"/>
    <label>Facebook</label>
    <input type="text" class="form-control" name="facebook" placeholder="Your profile facebook"/>
    <br/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
</form>