<h3>Your Profile</h3><br/>
<form action="" method="post">
    <?php foreach($data as $item) { ?>
    <label>Your Nickname</label>
    <input type="text" class="form-control" name="nickname" placeholder="Nickname*" value="<?=$item['nickname']?>" required/>
    <label>Your Name</label>
    <input type="text" class="form-control" name="name" placeholder="Name" value="<?=$item['name']?>"/>
    <label>Your Phone</label>
    <input type="text" class="form-control" name="phone" placeholder="Phone" value="<?=$item['phone']?>"/>
    <label>Vkontakte</label>
    <input type="text" class="form-control" name="vk" placeholder="Your profile vkontakte" value="<?=$item['vk']?>"/>
    <label>Facebook</label>
    <input type="text" class="form-control" name="facebook" placeholder="Your profile facebook" value="<?=$item['facebook']?>"/>
    <?php } ?>
    <br/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
</form>