table tr:nth-child(even) {
    background-color: white;
}

table tr:nth-child(odd) {
    background-color: white;
}

table th	{
    background-color: black;
    color: white;
}

body:not(.nohover) tbody tr:hover {
    background-color: lightgray;
}

body {
    margin: 0;
    background-color: #ecf0f1;
}
.panel-forum{
    background-color: lightgray;
    border-radius: 10px 10px 10px 10px;
}


