body{
     padding-top: 50px;
 }

form{
    width: 400px;
    max-width: 400px;
}

.alert{
    width: 400px;
    max-width: 400px;
}

.navbar {
    margin-bottom: 0;
    background-color: black !important;
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 1px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: black !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #fff !important;
    background-color: black !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}


html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;

}

.footer{
    padding: 20px 10px 1px 5px;
    position:absolute;
    width: 100%;
    bottom:0;
    background-color: black;
    /*
    background: linear-gradient(to top, black, transparent);
    */
    -webkit-box-shadow: 10px 10px 152px 9px rgba(0,0,0,0.66);
    -moz-box-shadow: 10px 10px 152px 9px rgba(0,0,0,0.66);
    box-shadow: 10px 10px 152px 9px rgba(0,0,0,0.66);
}

