<!DOCTYPE html>
<html lang="en">
<head>
    <title><?=Config::get('site_name')?></title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/webroot/css/admin.css">
    <script src="/webroot/js/admin.js"></script>
    <link rel="stylesheet" href="/webroot/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webroot/bootstrap/css/bootstrap-theme.min.css">
    <script src="/webroot/bootstrap/js/jquery.min.js"></script>
    <script src="/webroot/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/admin/"><?=Config::get('site_name')?> - <?=__('lng.admin', 'Admin Section')?></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <?php if (Session::get('login')) { ?>
            <ul class="nav navbar-nav">
                <li><a <?php if ( App::getRouter()->getController() == 'pages' ) {?>class="active"<?php } ?> href="/admin/pages/">Pages</a></li>
                <li><a <?php if ( App::getRouter()->getController() == 'forum' ) {?>class="active"<?php } ?> href="/admin/forums/">Forum</a></li>
                <li><a <?php if ( App::getRouter()->getController() == 'profiles' ) {?>class="active"<?php } ?> href="/admin/profiles/">Users Profiles</a></li>
                <li><a <?php if ( App::getRouter()->getController() == 'contacts' ) {?>class="active"<?php } ?> href="/admin/contacts/">Contact Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/user/users/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
            </ul>
            <?php } else { ?>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            </ul>
            <?php } ?>
        </div>
    </div>
</nav>
<div class="container">
    <div class="starter-template">
        <?php if( Session::hasFlash() ){ ?>
        <div class="alert alert-info" role="alert">
            <?php Session::flash(); ?>
        </div>
        <?php } ?>
        <?=$data['content']?>
    </div>
</div>
</body>
</html>