<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
    <div class="starter-template">
        <?php if( Session::hasFlash() ){ ?>
        <div class="alert alert-danger text-center" role="alert">
            <strong><?php Session::flash(); ?>!</strong>
        </div>
        <?php } ?>
    </div>
</div>
<div class="container">
    <form method="post" action="" class="form-register">
        <h2 class="form-register-heading  text-center">Registration</h2>
        <br/>
        <div class="from-group">
            <label for="login" class="sr-only">Login</label>
            <input type="text" id="login" name="login" class="form-control" placeholder="Login" required autofocus/>
        </div>
        <div class="from-group">
            <label for="email" class="sr-only">Email</label>
            <input type="text" id="email" name="email" class="form-control" placeholder="Email" required autofocus/>
        </div>
        <div class="from-group">
            <label for="password" class="sr-only">Register</label>
            <input type="text" id="password" name="password" class="form-control" placeholder="Password" required autofocus/>
        </div>
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
    </form>
</div>
</body>
</html>